# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Build artifacts
**/build/
**/dist/
**/*.egg-info/
*.so

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/

# Project Specific
all_code*
all_code
*.egg-info/
**/**/*.egg-info/**
mlruns/
dump.rdb
data/
site/
